.heading-2{
	font-size: 2rem;
	font-weight: 700;
	font-family: $font-display;
	color: $color-grey-light-1;
}

.heading-3{
	font-size: 1.5rem;
	font-weight: 700;
	font-family: $font-display;
	color: $color-secondary;
	cursor: pointer;
}

.heading-4{
	font-weight: 700;
	font-family: $font-display;
	color: $color-grey-light-1;
	font-size: 1.2rem;
}


.heading-4-b{
	font-weight: 700;
	font-family: $font-display;
	color:cyan;
	font-size: 1.2rem;
	letter-spacing: 1px;
}